@media screen and (min-width: 530px) {

    /*bureau*/
    
    .img_space {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }




    .img_space img {
        height: auto;
        width: 32%;
        /*49%*/
        border: solid 1px rgba(255, 255, 255, .5);
        margin: 5px;
    }


    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 80px;
    }





    h2 {
       
        margin-bottom: 40px;
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        color: rgb(110, 168, 161);
    }

    h3 {
       
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.20em;
        color: rgb(34, 71, 66);
        margin: 10px 0 12px 0;
    }


    
}
