footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.35em;
}


footer .credit {
    font-size: 15px;
    text-transform: uppercase;
    padding: 40px 0 30px 0;
}

footer .reseau {
    font-size: 150%;
}

a:-webkit-any-link {
    color: white;
}

footer .contact {
    padding: 15px 0 15px 0;
}

footer .contact a {
    font-size: 12px;
}

footer .contact p {
    text-transform: uppercase;
    font-size: 13px;
}

.copyright p {
    text-align: right;
    font-size: 10px;
    margin-top: 50px;
    letter-spacing: 0.15em;
}