form {
    display: flex;
    justify-content: center;
}

input {
    background-color: #4A6463;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: solid 1px gray;
}

input::placeholder {
    color: rgb(233, 233, 233);
    padding: 2px;
}


.deconnection {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}


.redim .img_space {
    margin-top: 50px;
}

.redim .img_space img {
    height: auto;
    width: 10%;
    /*49%*/
    border: solid 1px rgba(255, 255, 255, .5);
    margin: 5px;
}

.formulaire_admin p {
    color: teal;
    margin-left: 30%;
}