@media screen and (max-width: 530px) { /*mobile*/

    menu {

        font-family: 'Montserrat', sans-serif;
        padding: 0;


    }


    menu .link-menu a {
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0;
        margin: 20px;
        letter-spacing: 0.35em;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    menu .link-menu .news {
        margin-bottom: 40px;
    }

    .columns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .columns button img {
        width: 25px;
        margin: 10px 30px;
    }

    .columns button {
        background: black;
        border: 0px;
        transition: 0.2s;
        width: auto;
        }

    .columns button:hover {
        transition: 0.3s;
        opacity: 0.5;
    }

}
